# Ignore virtual environment directory
/venv

# Ignore IDE-specific directories
/.idea
/.vscode

# Ignore compiled Python files
__pycache__

# Ignore generated index and CSV files
/index.bin
/texts.csv

# Ignore configuration files
/config.json

# Ignore temporary files or directories
/temp

# Ignore uploaded files
/upload
